<li>{{#link-to 'question' question.id}}Question: {{question.question}}<br> Asked by: {{question.author}}<br> Notes: {{question.notes}}{{/link-to}}
<br>
 {{update-question question=question update="update"}}
<br>
</li>
